.Bulletin-board
  .Bulletin-board-area
    .Bulletin-board-area__post
      .Bulletin-board-area__post--icon
      .Bulletin-board-area__post--content
      .Bulletin-board-area__post--image
      .Bulletin-board-area__post--reply-button
      .Bulletin-board-area__post--stamp
      .form
      = form_for [@message] do |f|
        = f.text_field :body, class: 'form__message', placeholder: 'type a message'
        -# .form__mask
        -#   = f.label :image, class: 'form__mask__image' do
        -#     = icon('fas', 'image', class: 'icon')
        -#     = f.file_field :image, class: 'hidden'
        -# = f.submit 'Send', class: 'form__submit'


  .Side-bar
    .Side-bar__switching-page
      .Side-bar__switching-page--Group-chat-button
        %p
          =icon('fas', 'fas fa-user-friends fa-lg', class: 'icon')
      .Side-bar__switching-page--My-profile-button
        %p
          =icon('fas', 'far fa-address-card fa-lg', class: 'icon')
      .Side-bar__switching-page--Another-group-button
        %p
          =icon('fas', 'fas fa-user-plus fa-lg', class: 'icon')
      .Side-bar__switching-page--Bulletin-board-button
        %p
          =icon('fas', 'fas fa-th-list fa-lg', class: 'icon')
